.navbar-fixed{position:relative;height:56px;z-index:997}
.navbar-fixed nav{position:fixed}
@media only screen and (min-width: 601px){nav.nav-extended .nav-wrapper{min-height:64px}
nav,nav .nav-wrapper i,nav a.button-collapse,nav a.button-collapse i{height:64px;line-height:64px}
.navbar-fixed{height:64px}
}

#placeholder-navbar
{
    position:fixed;
    top:0;
    z-index:3;transition:background-color .3s}
#placeholder-navbar .back-btn{padding:0;border:none;background-color:transparent}
#placeholder-navbar .back-btn i
{
    float:left;
    margin-right:10px
}