body {
    background-image: url('../images/background.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    padding: 3rem;
    right: 0;
    top: 0;
}

#cadastro {
    transition: all 0.15s linear;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.3)
}

#cadastro:hover {
    transition: all 0.15s linear;
    transform: scale(1.15);
    background-color: rgba(255, 255, 255, 0.95);
}

#logo {
    margin-top: 3rem;
    text-align: center !important;
}

#submit {
    background-color: rgb(255, 94, 0) !important;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3)
}

#submit:hover {
    transition: all 0.15s linear;
    transform: scale(1.15);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3)
}

#submitDIV {
    text-align: center !important;
}

@media(max-width: 900px) {
    #logo {
        text-align: center !important;
    }
}