html {}

.imagem {
    margin-top: -5%;
    margin-left: 40%;
}

.titulo {
    font-weight: 400;
    font-family: sans-serif;
    color: rgb(255, 115, 0);
    font-size: 3em;
    padding-left: 500;
}

.pet {
    padding: 0 !important;
}

nav {
    background-color: rgba(44, 155, 189, 0.849) !important;
}

.gusta {
    background-image: url(../images//background-blog.jpg);
    margin-top: 1px;
    height: 300px;
}

@media only screen and (max-width: 600px) {
    .titulo {
        display: none;
    }
}