html
{

}

.imagem 
{   
    margin-top: -5%;
}
.titulo
{
    font-family: cursive;
    color: rgb(255, 115, 0);
    background-color: transparent;
    font-size: 2em;
    padding-left: 50;
}

nav {
    background-color: rgba(44, 155, 189, 0.849) !important;
}
.gusta {
   
    background-image: url(../images//background-blog.jpg); 
    margin-top: 1px;
    height: 300px;
}

@media only screen and (max-width: 600px) {
     .titulo {
         display: none;
     }
}
